.git
.gitignore
node_modules
vendor
composer.phar
tests
.env
.env.example
.env.backup
error_log
.phpunit.result.cache
phpunit.xml
_ide_helper.php
.phpstorm.meta.php
.styleci.yml
.editorconfig
.DS_Store
__MACOSX
storage/logs/*.log
deploy.sh
SETUP.md
README.md
